<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
<h2>Registro</h2>
<form action="/register" method="post">
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname" required>
    <br><br>
    <label for="contraseña">Contraseña:</label>
    <input type="text" id="contraseña" name="contraseña" required>
    <br><br>
    <input type="submit" value="Registrar">
</form>
</body>
</html>
